body {
  padding-top: 30px;
  padding-bottom: 30px;
  @media (max-width: 767px) {
    padding-top: 0;
  }
}

.qr {
  text-align: center;
  font-size: 11px;
  background: #fff;
  padding: 5px;
  position: fixed;
  width: 150px;
  top: 30px;
  right: 15px;
  z-index: 99;
  img{
    width: 150px;
  }
  @media (max-width: 767px) {
    text-align: center;
    width: 300px;
    top: 0;
    position: relative;
    font-size: 18px;
    padding-bottom: 35px;
    img{
      width: 300px;
    }
  }
}

.navbar-toggle .icon-bar {
    background-color: #563d7c;
}

.navbar-brand {
  .logo {
    height: 30px;
    display: inline;
  }
}

.navbar {
  @media (min-width: 768px) {
    display: none;
  }
}

.side-nav {
  .logo {
    width: 70%;
    margin-bottom: 20px;
  }
  @media (max-width: 767px) {
    display: none;
  }
  font-size: large;
  ul {
    padding-left: 0;
    list-style: none;
    a {
      color: #333;
    }
  }
  .menu {
    line-height: 180%;
  }
  .links {
    font-size: small;
  }
}

.main {
  padding-bottom: 30px;
  .page-title {
    margin-top: 0;
  }
}

.staff {
  .media-left img {
    width: 110px;
  }
}

#home-carousel {
  .carousel-inner img {
    width: 100%;
  }
}
